* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FFFF;
    font-family: 'Roboto';
}

.form {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 250px;
    padding-right: 250px;    
}

.title{
    padding-top: 15px;
    padding-bottom: 35px
}

.campoCorreoElectronico {
    padding-top: 25px;
}

.botonEnviar {
    text-align: center;
    padding-top: 15px;
}